

<!-- block_import_course/searchform -->
<form action="{{{formurl}}}" name="import_course_search">
{{{sourceselect}}}<br/>
<input type="text" name="remote_search" value="{{searchstring}}" /><br/>
<input type="submit" value="{{#str}}search, block_import_course{{/str}}">
</form>
<!-- /block_import_course/searchform -->